.cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    background: whitesmoke;

    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: 0.15s;
    pointer-events: none;
    mix-blend-mode: difference;
}

.content:hover ~ .cursor  {
    transform: scale(6);
}


