body {
}

.grid {
    width: 100%;
    position: relative;
}

.empty {
    min-height: 20px;
}

section {
    position: relative;
    margin-bottom: 170px;
    height: auto;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 639px ) {
    main {
        margin: 0 6vw;
    }

    .scol-1 {
        width: 6%;
    }

    .scol-4 {
        width: 32%;
    }

    .scol-5 {
        width: 40%;
    }

    .scol-6 {
        width: 49%;
    }

    .scol-7 {
        width: 58%;
    }

    .scol-12 {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 640px) and (max-width: 992px) {

    main {
        margin: 0 6vw;
    }

    .mcol-1 {
        width: 6%;
    }

    .mcol-4 {
        width: 32.2%;
    }

    .mcol-5 {
        width: 40%;
    }

    .mcol-6 {
        width: 49%;
    }

    .mcol-7 {
        width: 58%;
    }

    .mcol-8 {
        width:66%;
    }

    .mcol-12 {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 993px ) {
    main {
        margin: 0 13vw;
    }

    .col-1 {
        width: 6%;
    }

    .col-2 {
        width: 12%;
    }

    .col-4 {
        width: 32%;
    }

    .col-5 {
        width: 40%;
    }

    .col-6 {
        width: 49%;
    }

    .col-7 {
        width: 58%;
    }

    .col-8 {
        width:66%;
    }

    .col-12 {
        width: 100%;
        margin-right: 0;
    }
}

[class*='col-'] {
    float: left;
    margin-right: 1.4vw;
}

[class*='col-']:last-of-type {
    margin-right: 0;
}




/* aquiiiiiiiiiii*/
@font-face {
    font-family: 'Hashira';
    src: url('../fontes/Hashira-Mt.ttf');
    src: local('Hashira-Mt'),
    url('../fontes/Hashira-Mt.ttf') format('truetype');
}
@font-face {
    font-family: 'Roxie Rossa';
    src: url('../fontes/Roxie Rossa.otf');
    src: local('Roxie Rossa.otf'),
    url('../fontes/Roxie Rossa.otf') format('opentype');
}


body{
    background: black;
}

.typing p {
  color: white;
  border-right: 2px solid white;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
    font-family: "Roxie Rossa";
    /*font-family: "Hashira";*/
}

.typing p:nth-child(1) {
  width: 155px;
  animation: typing1 0.8s steps(6, end);
  animation-fill-mode: forwards;
    margin-top: 30px;
    margin-bottom: 30px;
}

.typing p:nth-child(2) {
  opacity: 0;
  width: 580px;
  animation: typing2 2.5s steps(23, end);
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
    margin-top: 30px;
    margin-bottom: 30px;
}

.typing p:nth-child(3) {
  opacity: 0;
  width: 685px;
  animation: typing3 3s steps(28, end), pisca .5s step-end infinite alternate;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes typing1 {
  0% {
    width: 0;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    border: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes typing3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pisca {
    50% {
        border-color: transparent;
    }
}
