@font-face {
    font-family: 'Roxie-Rossa';
    src: url('../fontes/Roxie-Rossa.otf');
    src: local('Roxie-Rossa.otf'),
    url('../fontes/Roxie-Rossa.otf') format('opentype');
}

* {
    cursor: none;
}

body {
    background: black;
}
.loading-page {
    width: 150px;
    height: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-loading {
    color: whitesmoke;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roxie-Rossa", serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.loading-page .streak {
    width: 1px;
    height: 15px;
    background: whitesmoke;
    margin: 0 1px;
    display: inline-block;
    animation: opacidade 3s infinite ease-in-out;
}

.loading-page .streak-1 { animation-delay: 2200ms; }
.loading-page .streak-2 { animation-delay: 2000ms; }
.loading-page .streak-3 { animation-delay: 1800ms; }
.loading-page .streak-4 { animation-delay: 1600ms; }
.loading-page .streak-5 { animation-delay: 1400ms; }
.loading-page .streak-6 { animation-delay: 1200ms; }
.loading-page .streak-7 { animation-delay: 1000ms; }
.loading-page .streak-8 { animation-delay: 800ms; }
.loading-page .streak-9 { animation-delay: 600ms; }
.loading-page .streak-10 { animation-delay: 400ms; }
.loading-page .streak-11 { animation-delay: 200ms; }
.loading-page .streak-12 { animation-delay: 400ms; }
.loading-page .streak-13 { animation-delay: 600ms; }
.loading-page .streak-14 { animation-delay: 800ms; }
.loading-page .streak-15 { animation-delay: 1000ms; }
.loading-page .streak-16 { animation-delay: 1200ms; }
.loading-page .streak-17 { animation-delay: 1600ms; }
.loading-page .streak-18 { animation-delay: 1800ms; }
.loading-page .streak-19 { animation-delay: 2000ms; }
.loading-page .streak-20 { animation-delay: 2200ms; }

@keyframes opacidade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}